// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#players {
  margin-top : 20px;

  tr.current {
    td {
      font-weight: bold;
    }
  }

  [color=blue] {
    color: #5d9aef;
  }

  [color=green] {
    color: #a9e95c;
  }

  [color=orange] {
    color: #f78658;
  }

  [color=purple] {
    color: #c359e7;
  }

  [color=yellow] {
    color: #fccb66;
  }
}
