// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#players {
  margin-top : 20px;

  thead {
    th {
      width: 35%;
    }

    th.player_name {
      width: 30%;
    }
  }

  tr.current {
    td {
      font-weight: bold;
    }
  }

  td.count {
    position: relative;
    height:   18px;

    span.rotating {
      position:           absolute;
      display:            block;
      -webkit-transition: -webkit-transform 0.4s ease-in;
      -moz-transition:    -moz-transform    0.4s ease-in;
      -o-transition:      -o-transform      0.4s ease-in;
      -ms-transition:     -ms-transform     0.4s ease-in;
      transition:         transform         0.4s ease-in;
    }

    .units_to_deploy {
      margin-left: 25px;
      color:       green;
    }
  }

  td.animated {
    span.rotating {
      -webkit-transform: rotate(360deg);
      -moz-transform:    rotate(360deg);
      -o-transform:      rotate(360deg);
      -ms-transform:     rotate(360deg);
      transform:         rotate(360deg);
    }
  }

  [color=blue] {
    color: #5d9aef;
  }

  [color=green] {
    color: #a9e95c;
  }

  [color=orange] {
    color: #f78658;
  }

  [color=purple] {
    color: #c359e7;
  }

  [color=yellow] {
    color: #fccb66;
  }
}
