// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#players {
  margin-top : 20px;
  table {
    tr.current {
      td {
        font-weight : bold;
      }
    }
  }

  [color=blue] {
    color: #67aaff;
  }

  [color=green] {
    color: #b8ff65;
  }

  [color=orange] {
    color: #ffb459;
  }

  [color=purple] {
    color: #dc73ff;
  }

  [color=yellow] {
    color: #f9ff7c;
  }
}
